.logo{
    background-image: url(../img/assets/backgrounds/landing.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10%;
    font-family: 'Indie Flower', cursive;

}

#islii{
    text-align: center;
    color: white;
}

#center{
    background-color: #F15A29; 
    text-align: center;
    color: white;
    margin: 0%;
    padding: 17px;
    font-family: 'Indie Flower', cursive;

}

.center{
    background-color: silver;
    text-align: center; 
    color: white;
    margin: 0%;
    padding: 17px;
    font-family: 'Indie Flower', cursive;

    
}

.breakfast{
    background-image: url(../img/assets/foodtop/breakfast.jpg);
    text-align: center;
    color: white;
    margin: 0%;
    padding: 50px;
    font-family: 'Indie Flower', cursive;

}

.lunch{
    background-image: url(../img/assets/foodtop/lunch.jpg);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    padding: 50px;
    margin: 0%;
    font-family: 'Indie Flower', cursive;

}

#dinner{
    background-image: url(../img/assets/foodtop/dinner.jpg);
    text-align: center;
    color: white;
    padding: 50px;
    margin: 0%;
    font-family: 'Indie Flower', cursive;

}

#wrapper{
    margin: 3%;
    padding: 0%;
}

.btn-amber{
    color: red;
    image-rendering: auto;
}

.food-tabs{
    background-image: url(../img/assets/backgrounds/foodsBg.jpg);
    padding: 30px;
    margin: 70px;
}

h3{
    color: orangered;
}

.drinks-img{
    padding: 10px;
}

#about{
    padding: 10px;
}

#subscribe{
    background-image: url(../img/assets/backgrounds/subscribe.jpg);
    color: white;
    height: 350px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

#subscribe h3{
    color: white;
}

#footer{
    background-color: tomato;
    margin-top: 0px;
    text-align: center;
    height: 300px;
    padding-top: 30px;
    color: white;
}