.logo{
    background-image: url(../img/assets/backgrounds/landing.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10%;
}

#islii{
    text-align: center;
    color: white;
}

#center{
    background-color: #F15A29; 
    text-align: center;
    color: white;
    margin: 0%;
    padding: 17px;
}

.center{
    background-color: silver;
    text-align: center; 
    color: white;
    margin: 0%;
    padding: 17px;
    
}

.breakfast{
    background-image: url(../img/assets/foodtop/breakfast.jpg);
    text-align: center;
    color: white;
    margin: 0%;
    padding: 50px;
}

.lunch{
    background-image: url(../img/assets/foodtop/lunch.jpg);
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    padding: 50px;
    margin: 0%;
}

#dinner{
    background-image: url(../img/assets/foodtop/dinner.jpg);
    text-align: center;
    color: white;
    padding: 50px;
    margin: 0%;
}